<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EasyChat - taking is more！</title>
    <link href="/css/login.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="/plugin/sweetalert/sweetalert.css"/>
    <link rel="shortcut icon" href="/image/favicon.ico" type="image/x-icon"/>
</head>
<body>
<div class="bg_content"></div>
<div class="user_content">
    <h1>EasyChat</h1>
    <div class="login">
        <div class="header">
            <div class="switch" id="switch">
                <a class="switch_btn_focus" id="switch_qlogin" href="javascript:void(0);" tabindex="7">快速登录</a>
                <a class="switch_btn" id="switch_login" href="javascript:void(0);" tabindex="8">快速注册</a>
                <div class="switch_bottom" id="switch_bottom" style="position: absolute; width: 64px; left: 0px;"></div>
            </div>
        </div>

        <div class="web_qr_login" id="web_qr_login" style="display: block; height: 235px;">
            <!--登录-->
            <div class="web_login" id="web_login">
                <div class="login-box">
                    <div class="login_form">
                        <!--                    登陆表单-->
                        <form action="/chat" name="loginform" accept-charset="utf-8" id="login_form" class="loginForm" method="post">
                            <input type="hidden" name="did" value="0"/>
                            <input type="hidden" name="to" value="log"  />
                            <div class="uinArea" id="uinArea">
                                <div class="inputOuter" id="uArea">
                                    <input type="text" id="u" name="name" class="inputstyle" autocomplete="off" placeholder="Name"/>
                                </div>
                            </div>
                            <div class="pwdArea" id="pwdArea">
                                <div class="inputOuter" id="pArea">
                                    <input type="password" id="p" name="password" class="inputstyle" placeholder="Password"/>
                                </div>
                            </div>

                            <div style="margin-top:20px;">
                                <input id="loginBtn" type="button" value="登 录" class="button_blue"/>
                            </div>
                        </form>
                        <input id="replayLoginUrl" type="hidden" value="/reply/login">
                    </div>

                </div>

            </div>
            <!--登录end-->
        </div>

        <!--注册-->
        <div class="qlogin" id="qlogin" style="display: none; ">
            <div class="web_login">
                <form name="form2" id="regUser" accept-charset="utf-8" action="" method="post">
                    <input type="hidden" name="to" value="reg"/>
                    <input type="hidden" name="did" value="0"/>
                    <ul class="reg_form" id="reg-ul">
                        <div id="userCue" class="cue">欢迎注册EasyChat！</div>
                        <li>
                            <div class="inputOuter2">
                                <input type="text" id="user" name="user" maxlength="16" class="inputstyle2" autocomplete="off" placeholder="Name"/>
                            </div>

                        </li>
                        <li>
                            <div class="inputOuter2">
                                <input type="password" id="passwd" name="passwd" maxlength="16" class="inputstyle2" autocomplete="off" placeholder="Password" />
                                <input id="replyRegistUrl" type="hidden" value="/reply/regist">
                            </div>

                        </li>
                        <li>
                            <div class="inputOuter2">
                                <input type="password" id="passwd2" name="" maxlength="16" class="inputstyle2" placeholder="Re password"/>
                            </div>

                        </li>

                        <li>
                            <div class="inputArea">
                                <input type="button" id="reg" style="margin-top:10px;" class="button_blue"
                                       value="注册"/>
                            </div>

                        </li>
                        <div class="cl"></div>
                    </ul>
                </form>


            </div>


        </div>
        <!--注册end-->
    </div>
    <div class="tip">欢迎使用Easychat</div>
</div>



<script src="/js/jquery.js"></script>
<script src="/plugin/sweetalert/sweetalert.js"></script>
<script src="/js/login.js"></script>

</body>
</html>